*
!README.md
!scripts/
!scripts/**
!.oh-my-zsh/
!.oh-my-zsh/**
!.gitignore
!.zprofile
!.zshenv
!.zshrc*
!.profile
!.yarnrc
!.tmux.*
!.tmux.*/
!.tmux.*/**
!.viminfo
!.gitconfig
!.config/
!.config/neofetch/
!.config/neofetch/**
!.config/htoprc/
!.config/htoprc/*
!.config/vis/
!.config/vis/**
!.config/warpd/
!.config/warpd/**
!.config/nvim/
!.config/nvim/**
!.config/guardsquare/
!.config/guardsquare/gs.yml
!.yarn/
!.yarn/global/
!.yarn/global/package.json
!.yarn/global/yarn.lock
